@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Megrim);
body {
	background: url("../images/hyperspace.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

h1 {
	color: white;
	font-weight: bold;
	font-size: 450%;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Megrim', cursive;
}

p {
	color: white;
	font-family: 'Roboto Slab', serif;
}

#slogan {
	font-family: 'Megrim', cursive;
	font-style: italic;
	font-size: 250%;
	text-align: center;
}

li {
	color: white;
	font-family: 'Roboto Slab', serif;
}

a {
	color: pink;
	font-family: 'Roboto Slab', serif;
}