body {
	background: url("images/hyperspace.jpg");
	background-size: cover;
}

h1 {
	color: white;
	font-weight: bold;
	text-transform: uppercase;
}

p {
	color: white;
}

#slogan {
	font-style: italic;
	text-align: center;
}